<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>edu</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
   <listener>
  <listener-class>co.yedam.app.common.SessionListener</listener-class>
  </listener>
  <filter>
  <filter-name>encoding</filter-name>
  <filter-class>co.yedam.app.common.EncodingFilter</filter-class>
  </filter>
  <filter-mapping>
  <filter-name>encoding</filter-name>
  <url-pattern>*.do</url-pattern>
  </filter-mapping>
  
  <servlet>
  	<servlet-name>TestServ</servlet-name> <!-- 별칭을 붙인거임 -->
  	<servlet-class>co.yedam.app.test.TestServ</servlet-class> <!-- 경로랑 클래스명 정확히 적어줘야함 -->
  	<init-param>
  		<param-name>pName</param-name> <!-- 파라미터 name -->
  		<param-value>utf-8</param-value>
  	</init-param>
  </servlet>
  <servlet-mapping>
  	<servlet-name>TestServ</servlet-name> <!-- servlet이름이랑 같은거 적어야함 -->
  	<url-pattern>/test3.do</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
  	<servlet-name>TestServ</servlet-name> <!-- servlet이름이랑 같은거 적어야함 -->
  	<url-pattern>/test4.do</url-pattern>
  </servlet-mapping>
  <session-config>
  	<session-timeout>1</session-timeout>
  </session-config>

</web-app>